.todo-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-header{
    background-color: brown;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0px 10px 30px;
    justify-content: center;
}

.list-header h3{
    color: bisque;
    font-size: 25px;
}

.list{
    padding: 0px 0px 10px 0px;
}

.add-btn{
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    background-color: brown;
    color: bisque;
    border: 2px solid brown;
}

.add-btn:hover{
    background-color: bisque;
    border-color:brown;
    color: brown;
}